.section
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	position: relative
	width: 100%
	padding: var(--section-padding)

@media (min-width: 960px)
	.section
		flex-direction: row
