.section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	position: relative;
	width: 100%;
	padding: 30px;
}


@media (min-width: $breaking-point-desktop) {
	.section {
		flex-direction: row;
	}
}
