.input-text
	height: var(--input-text-height)
	width: var(--input-text-width)
	border-radius: var(--button-border-radius)
	border: none;
	margin: var(--input-text-margin);
	padding-left: var(--input-text-padding-left);
	transition: border-color 1s ease;

.danger
	border: 2px red solid;
