	// Global
	$font-family: 'Source Sans Pro', sans-serif;
	$breaking-point-desktop: 960px;

	// Colors
	$brand-default: #F1F1F1;
	$brand-primary: #5762D5;
	$brand-success: #33F778;
	$brand-warning: #F8AB37;
	$brand-danger:  #F83747;
	$brand-info: #3a9cf1;
	$brand-info-dark: #418dd0;
	$brand-text-light: #e6e6e6;
	$brand-text: #9f9f9f;
	$brand-text-dark: #737980;

	// Sizes
	$font-size-base: 16px;
	$break-desktop: 1024px;
