.button
	height: var(--button-height)
	width: var(--button-width)
	border-radius: var(--button-border-radius)
	margin: var(--button-margin)
	cursor: pointer;

.default
	border: var(--button-default-border)
	color: var(--button-default-text-color)
	font-weight: var(--button-default-font-weight)
