.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100px;
	background-color: $brand-info;
	flex-direction: column;
	padding: 50px;
}

@media (min-width: $breaking-point-desktop) {
	.navbar {
		flex-direction: row;
		align-items: flex-start;
	}
}
