.navbar
	display: flex
	justify-content: center
	align-items: center
	min-height: var(--navbar-height)
	background-color: var(--brand-info)
	flex-direction: column
	padding: var(--navbar-padding)

@media (min-width: 960px)
	.navbar
		flex-direction: row
