.table-info {
	display: flex;
	justify-content: space-between;
	margin: 20px 0 20px 0;

	.title {
		color: $brand-text-dark;
		font-weight: 700;
	}

	.desc {
		color: $brand-text-dark;
		font-weight: 500;
		margin-left: 7px;
	}
}


.responsible-table-container {
	width: 100%;
	margin: 0 auto;

	.table {
		box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.2);

		.tbody {
			overflow-y: auto;
			height: 350px;
		}

		.flex-row {
			display: flex;

			.column {
				flex: 1;
				cursor: pointer;
				text-align: center;
				border: 2px $brand-default solid;
				word-break: break-all;
				padding: 5px;
				transition: all .5s ease;
				display: flex;
				justify-content: center;
				align-items: center;

				&.th {
					color: $brand-default;
					background-color: $brand-info;
					font-size: 17px;

					&:hover, &:active {
						background-color: $brand-info-dark;
					}
				}


				&.td {
					color: $brand-text-dark;
					font-size: 17px;

					&:hover, &:active {
						background-color: $brand-text-light;
					}
				}
			}
		}
	}
}
