.table {
	display: flex;
	flex-direction: column;
	width: 100%;

	.rt-table {
		width: 100%;

		.rt-thead {
			min-width: 0 !important;

			.rt-tr {
				word-break: break-all;
				display: flex;
				justify-content: center;
				.rt-th {
					display: flex;
					align-items: center;
					justify-content: center;
					text-align: center;
					border: 2px $brand-default solid;
					padding: 20px;
					background-color: $table-rt-th-background-color;
					color: $table-rt-th-color;
					font-size: 18px;
					cursor: pointer;
				}
			}
		}

		.rt-tbody {
			min-width: 0 !important;
			.rt-tr {
				display: flex;
				justify-content: center;

				.rt-td {
					word-break: break-all;
					display: flex;
					justify-content: center;
					align-items: center;
					text-align: center;
					border: 2px $brand-default solid;
					padding: 20px;
					color: $table-rt-td-color;
					font-size: 18px;
				}
			}
		}
	}

	.pagination-bottom {
		.-pagination {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 20px;

			.-pageInfo {
				font-size: 17px;
				color: $pagination-page-info-color;
			}

			.-next {
				font-size: 20px;
				button {
					cursor: pointer;
				}
			}

			.-previous {
				font-size: 20px;
				button {
					cursor: pointer;
				}
			}
		}
	}
}

@media (min-width: $breaking-point-desktop) {
	.table {
		margin-right: 50px;
	}
}
