.input-text {
	height: $input-text-height;
	width: $input-text-width;
	border-radius: $button-border-radius;
	border: none;
	margin: $input-text-margin;
	padding-left: $input-text-padding-left;
	transition: border-color 1s ease;
}

.danger {
	border: 2px red solid;
}
