.table
	display: flex
	flex-direction: column
	width: 100%

	.rt-table
		width: 100%

		.rt-thead
			min-width: 0 !important;

			.rt-tr
				display: flex
				justify-content: center;

				.rt-th
					display: flex
					align-items: center
					justify-content: center
					text-align: center
					border: var(--table-th-border)
					padding: var(--table-rt-th-padding)
					background-color: var(--table-rt-th-background-color)
					color: var(--table-rt-th-color)
					font-size: var(--table-title-rt-td-font-size)
					cursor: pointer

		.rt-tbody
			min-width: 0 !important;

			.rt-tr
				display: flex
				justify-content: center;

				.rt-td
					display: flex
					justify-content: center
					align-items: center
					text-align: center
					border: var(--table-td-border)
					padding: var(--table-rt-td-padding)
					color: var(--table-rt-td-color)
					font-size: var(--table-title-rt-td-font-size)

	.pagination-bottom
		.-pagination
			display: flex
			justify-content: space-between
			align-items: center
			margin-top: var(--pagination-margin-top)

			.-pageInfo
				font-size: var(--pagination-page-info-font-size)
				color: var(--pagination-page-info-color)
			.-next
				font-size: var(--pagination-navigation-text-font-size)
				button
					cursor: pointer

			.-previous
				font-size: var(--pagination-navigation-text-font-size)
				button
					cursor: pointer

@media (min-width: 960px)
	.table
		width: 50%
