.home-container {
	.section-desc-container {
		width: 100%;
		margin: 50px 0 50px 0;

		.title {
			display: block;
			text-align: center;
			color: $brand-text-dark;
			font-size: 25px;
		}

		.desc {
			text-align: center;
			color: $brand-text;
			display: block;
			font-size: 20px;
		}
	}

	.section-content {
		width: 100%;
	}

	.chart-container {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		margin-top: 100px;
	}

	.table-container {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
	}

	@media (min-width: $breaking-point-desktop) {
		.section-content {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			width: 35%;
		}

		.chart-container {
			padding: 0;
			margin-top: 0;
		}
	}
}
